[lingua_python: **.py]

[lingua_xml: **.pt]

# ATM, we are not displaying any
# of the ZCML strings like capability or permission
# strings externally so no need to have them
# in the catalog.
# [lingua_zcml: **.zcml]


[extractors]
lingua_python = lingua.extractors.python:extract_python
lingua_xml = lingua.extractors.xml:extract_xml
# lingua_zcml = lingua.extractors.zcml:extract_zcml
