numpy >= 1.7.1
# scipy >= 0.12.0
# matplotlib >= 1.2.1

file:../lib/pywikipedia/#egg=pywikipedia

## Sadly, issue 328 prevents us from using local paths for these things,
## if we include the egg name. If we're otherwise very careful,
## local paths can be made to work
## see https://github.com/pypa/pip/issues/328

-e ../site-lib/geventwebsocket
