file:../lib/pywikipedia/#egg=pywikipedia
file:../lib/concurrent.futures#egg=concurrent.futures
-e svn+https://svn.nextthought.com/repository/NextThoughtPlatform/trunk/site-libs/plastex-dist
-e svn+https://svn.nextthought.com/repository/NextThoughtPlatform/trunk/site-libs/context
-e svn+https://svn.nextthought.com/repository/NextThoughtPlatform/trunk/site-libs/geventwebsocket
-e svn+https://svn.nextthought.com/repository/NextThoughtPlatform/trunk/site-libs/socketio




