/**
 * $Revision$
 **/
/*
 * the @font-face directive is only used to define fonts,
 * so if we want to suppress their definition, we can simply
 * comment out the entire directive.

@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  src: url(fonts/OpenSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  src: url(fonts/OpenSans-Italic.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: bold;
  src: url(fonts/OpenSans-BoldItalic.ttf) format("truetype");
}
*/
/**
 * Important: Using the * descendent selector will
 * cause problems with dynamically changing font settings.
 * Only apply the setting to the root.
 */
#NTIContent
{
	/*Stating a font that is not available will gracefully fall down the chain.*/
	font-family: 'Open Sans', 'Helvetica', arial, sans-serif;
}

#NTIContent {
	position: relative;/*make absolutely positioned elements anchor to this node*/
}

#NTIContent table {
	border-collapse: collapse;
}

#NTIContent .navigation {
	margin-bottom: .5em;
	clear: both;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
  	-webkit-box-pack: justify;

  	background: rgb(90,90,90);
	border-radius: 5px;
	border: 1px solid black;
    background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#666),to(#222));

    font-size: 20px; /* this was intended to be fixed, tho we can make it relative*/
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #ddd;

    -webkit-box-shadow:
	    2px 2px 4px rgba(0, 0, 0, .2),
	    0px 0px 3px rgba(0, 0, 0, .1),
	    inset 0px 6px 12px rgb(80,80,80),
	    inset 0px 12px 2px rgba(255,255,255,.7),
	    inset 0px 16px 25px rgb(80,80,80);
}

#NTIContent .navigation div {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: left;
  	-webkit-box-pack: left;
}

#NTIContent .navigation div.navigation-title {
	-webkit-box-align: center;
  	-webkit-box-pack: center;
}

#NTIContent .navigation div a {
	display: block;
	width: 32px;
	background: rgb(90,90,90);
	border-radius: 5px;
	border: 1px solid black;

    background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#666),to(#222));
    color: inherit;
    text-decoration: inherit;


     -webkit-box-shadow:
	    2px 2px 4px rgba(0, 0, 0, .2),
	    0px 0px 3px rgba(0, 0, 0, .1),
	    inset 0px 6px 12px rgb(80,80,80),
	    inset 0px 12px 2px rgba(255,255,255,.7),
	    inset 0px 16px 25px rgb(80,80,80);
}

#NTIContent .navigation div a:hover {
	border-color: white;
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#777),to(#444));
	-webkit-box-shadow:
	    2px 2px 4px rgba(0, 0, 0, .2),
	    0px 0px 3px rgba(0, 0, 0, .1),
	    inset 0px 6px 12px rgb(100,100,100),
	    inset 0px 12px 2px rgba(230,230,230,.7),
	    inset 0px 15px 25px rgb(100,100,100);
}


#NTIContent .page-contents {
	position: relative;
	/* margin-left: 75px; */
	margin-right: 25px;
	margin-top: 50px;

	font-weight: lighter;
	font-size: 130%;
	letter-spacing: 0px;
	line-height: 2.2em;
	/* optimizeLegibility is really slow
	* on the device.  Also, the fonst
	* we use have very poor kern tables
	* anyway.
	text-rendering: optimizeLegibility;
	*/
	text-rendering: optimizeSpeed;

}

#NTIContent .page-contents .title {
	/* margin-left: -50px; */

	font-weight: bold;
	font-size: 140%;
	/* font-style: italic; */

	border-top: 2px solid black;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: left;
  	-webkit-box-pack: left;
}

#NTIContent .page-contents .title .ref {
	width: 50px;
	display: -webkit-box;
	padding-right: 0.5em;
}

#NTIContent .page-contents .title .label {
	display: -webkit-box;

}

#NTIContent .chapter.title {}
#NTIContent .subsection.title {
	border-top: none;
	font-size: 125%;
}
#NTIContent .subsubsection.title {
	border-top: none;
	font-size: 100%;
}
#NTIContent .paragraph.title {}
#NTIContent .subparagraph.title{}
#NTIContent .subsubparagraph.title{}


#NTIContent .minipage {
	float: left;
	clear: right;
	margin: 1.5em;
}

#NTIContent p:empty{ clear: both; margin: 0; padding: 0; }


/*
 All font sizes must be specified in percents(or em units) for the size changing code to work.
*/
#NTIContent pre {
    color: #004000;
    width: 100%;
    font-size: 90%;
    background-color: #f0f0f0;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px #aaffaa solid;
    font-family: Monaco, "Courier New", Courier, fixed;
    padding-left: 4ex;
}

#NTIContent .breadcrumbs {
    font-size: 70%;
    font-style: italic;
}

#NTIContent .breadcrumbs hr {
	margin-top: 1em;
}

#NTIContent .contents ul {
    list-style-type: none;
    font-weight: bold;
}
#NTIContent .contents ul ul {
    font-size: 70%;
    font-weight: normal;
}

#NTIContent hr {color: black}

#NTIContent .minitoc {
    border-top: 1px solid black;
    border-bottom: 1px solid block;
    margin-bottom: 1em;
}

#NTIContent .minitoc li {
    list-style-type: none;
}

/*******/
/* TeX */
/*******/

/* Fonts */
#NTIContent .rm {
    font-style: normal;
    font-weight: normal;
}
#NTIContent .cal {
    font-style: italic;
    font-weight: normal;
}
#NTIContent .it {
    font-style: italic;
    font-weight: normal;
}
#NTIContent .sl {
    font-style: oblique;
    font-weight: normal;
}
#NTIContent .bf {
    font-style: normal;
    font-weight: bold;
}
#NTIContent .tt {
    font-style: normal;
    font-weight: normal;
}

#NTIContent .medium-text {
	font-weight: bolder;
}


/* Text */
#NTIContent .underbar {text-decoration: underline}


/*********/
/* LaTeX */
/*********/

/* Alignment */
#NTIContent .center, #NTIContent .centering      {text-align: center}
#NTIContent .flushleft, #NTIContent .raggedright {text-align: left}
#NTIContent .flushright, #NTIContent .raggedleft {text-align: right}

/* Arrays */
#NTIContent .tabular { border-collapse: collapse }
#NTIContent .tabular td, #NTIContent .tabular th {
    vertical-align: baseline;
    text-align: left;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    empty-cells: show;
}

/* Boxes */
#NTIContent .fbox, #NTIContent .framebox {
    border: 1px black solid;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

/* Font Selection */
#NTIContent .mdseries, #NTIContent .textmf {font-weight: normal}
#NTIContent .bfseries, #NTIContent .textbf {font-weight: bold}
#NTIContent .ttfamily, #NTIContent .texttt {font-family: monospace}
#NTIContent .upshape, #NTIContent .textup  {text-transform: uppercase}
#NTIContent .itshape, #NTIContent .textit  {font-style: italic}
#NTIContent .slshape, #NTIContent .textsl  {font-style: oblique}
#NTIContent .scshape, #NTIContent .textsc  {font-variant: small-caps}

#NTIContent .tiny         {font-size: x-small}
#NTIContent .scriptsize   {font-size: smaller}
#NTIContent .footnotesize {font-size: small}
#NTIContent .small        {font-size: small}
#NTIContent .normalsize   {font-size: 100%}
#NTIContent .large        {font-size: 120%; line-height: 1.3em;}
#NTIContent .xlarge       {font-size: 130%; line-height: 1.4em;}
#NTIContent .xxlarge      {font-size: 140%; line-height: 1.5em;}
#NTIContent .huge         {font-size: 150%; line-height: 1.6em;}
#NTIContent .xhuge        {font-size: 160%; line-height: 1.7em;}

/* Lists */
/*ul.itemize {}*/
/*ol.enumerate {}*/
#NTIContent dl.description dt {font-weight: bold}
#NTIContent table.list {
    margin-left: 15px;
    margin-top: 1em;
    margin-bottom: 1em;
}
#NTIContent table.list td {
    padding-right: 5px;
}

/* Title Page */
#NTIContent .titlepage {text-align: center}
#NTIContent .titlepage h1 {font-weight: normal}

/* Math */
#NTIContent .displaymath, .eqnarray, .equation {
	overflow: hidden;
}


/* Quotations and Verse */
#NTIContent .quotation, #NTIContent .quote, #NTIContent .verse {}

#NTIContent .quotation p, #NTIContent .quote p, #NTIContent .verse p {}

/* Rules */
#NTIContent hr {color: black}

/* Image offset classes */
#NTIContent .raise15 {margin-bottom: 10px}
#NTIContent .raise14 {margin-bottom: 10px}
#NTIContent .raise13 {margin-bottom: 10px}
#NTIContent .raise12 {margin-bottom: 10px}
#NTIContent .raise11 {margin-bottom: 10px}
#NTIContent .raise10 {margin-bottom: 10px}
#NTIContent .raise9  {margin-bottom: 9px}
#NTIContent .raise8  {margin-bottom: 8px}
#NTIContent .raise7  {margin-bottom: 7px}
#NTIContent .raise6  {margin-bottom: 6px}
#NTIContent .raise5  {margin-bottom: 5px}
#NTIContent .raise4  {margin-bottom: 4px}
#NTIContent .raise3  {margin-bottom: 3px}
#NTIContent .raise2  {margin-bottom: 2px}
#NTIContent .raise1  {margin-bottom: 1px}
#NTIContent .raise0  {margin-bottom: 0px}
#NTIContent .lower0  {margin-bottom: -0px}
#NTIContent .lower1  {margin-bottom: -1px}
#NTIContent .lower2  {margin-bottom: -2px}
#NTIContent .lower3  {margin-bottom: -3px}
#NTIContent .lower4  {margin-bottom: -4px}
#NTIContent .lower5  {margin-bottom: -5px}
#NTIContent .lower6  {margin-bottom: -6px}
#NTIContent .lower7  {margin-bottom: -7px}
#NTIContent .lower8  {margin-bottom: -8px}
#NTIContent .lower10 {margin-bottom: -10px}
#NTIContent .lower11 {margin-bottom: -11px}
#NTIContent .lower12 {margin-bottom: -12px}
#NTIContent .lower13 {margin-bottom: -13px}
#NTIContent .lower14 {margin-bottom: -14px}
#NTIContent .lower15 {margin-bottom: -15px}
#NTIContent .lower16 {margin-bottom: -16px}
#NTIContent .lower17 {margin-bottom: -17px}
#NTIContent .lower18 {margin-bottom: -18px}
#NTIContent .lower19 {margin-bottom: -19px}
#NTIContent .lower20 {margin-bottom: -20px}
#NTIContent .lower21 {margin-bottom: -21px}
#NTIContent .lower22 {margin-bottom: -22px}
#NTIContent .lower23 {margin-bottom: -23px}
#NTIContent .lower24 {margin-bottom: -24px}
#NTIContent .lower25 {margin-bottom: -25px}
#NTIContent .lower26 {margin-bottom: -26px}
#NTIContent .lower27 {margin-bottom: -27px}
#NTIContent .lower28 {margin-bottom: -28px}
#NTIContent .lower29 {margin-bottom: -29px}
#NTIContent .lower30 {margin-bottom: -20px}
#NTIContent .lower20 {margin-bottom: -20px}


/* Index */
#NTIContent .theindex li {
    list-style-type: none
}

#NTIContent .changebar {
    border-right: 2px solid red;
    padding-right: 1em;
}

#NTIContent .deletebar {
    color: red;
    font-size: 150%;
    padding-left: 0.5ex;
    padding-right: 0.5ex;
}

/* subfig package styles */
#NTIContent .subfloat {
    display: inline-table;
    padding: 1em 3em 1em 3em;
    text-align: center
}


#NTIContent .rightpic, .leftpic {
	margin: 1.5em;
}

#NTIContent .rightpic{
	float: right;
	clear: right;
}
#NTIContent .leftpic{
	float: left;
	clear: left;
}

#NTIContent .align-center {
	text-align: center;
}

#NTIContent .align-left {
	text-align: left;
}

#NTIContent .align-right{
	text-align: right;
}

#NTIContent .align-bottom {
	vertical-align:top;
}

#NTIContent .dynamic-spacer {
	margin: 0;
	padding: 0;
}

#NTIContent .bigskip {
	margin: 0;
	padding: 0;
	margin-bottom: 24pt;
}

#NTIContent .medskip {
	margin: 0;
	padding: 0;
	margin-bottom: 12pt;
}

#NTIContent .smallskip {
	margin: 0;
	padding: 0;
	margin-bottom: 6pt;
}

#NTIContent .inline-math {
	font-family: STIXGeneral;
}

#NTIContent .math {
	font-family: STIXGeneral;
}

/**
 * Begin Demo quiz styles
 **/

#NTIContent .naquestion {
    background: rgba(235,235,235, 0.296875);
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 2px;
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 25px;
}

#NTIContent .naquestionpart {
    display: inline-block;
}

#NTIContent .helplink {
    position: relative;
    color: red;
    font-weight: normal;
    font-style: italic;
    padding: 10px 20px;
    font-size: 12pt;
    margin-left: 10px;
}

#NTIContent .helpdiv {
    position: absolute;
    border: 2px #a8a8a8 solid;
    border-radius: 4px;
    /*
      border-image: url('../images/why_box.png') 30% round;
      -moz-border-image: url('../images/why_box.png') 30% round;
      -webkit-border-image: url('../images/why_box.png') 30% round;
      -o-border-image: url('../images/why_box.png') 30% round;
      */
    margin: 5px;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: inset 0px 1px 1px #cce49c;
    background: white;
}

#NTIContent .answerblank {
    position: relative;
    float: left;
    left: -20px;
    border-radius: 4px;
    padding: 8px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    width: 120px;
}

#NTIContent .unchecked {
   border: 2px #A8A8A8 solid;
   color: #A8A8A8;
}

#NTIContent .correct {
   border: 2px #a4ce50 solid;
   color: #a4ce50;
}

#NTIContent .incorrect {
   border: 2px red solid;
   color: red;
}

#NTIContent .hidden {
	display: none;
}

#NTIContent a.NTIGreenButton {
    border: 1px #24418C solid;
    border-radius: 4px;
    background: #a4ce50;
    background: -moz-linear-gradient(top,  #a4ce50 0%, #87b133 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4ce50), color-stop(100%,#87b133));
    background: -webkit-linear-gradient(top,  #a4ce50 0%,#87b133 100%);
    background: -o-linear-gradient(top,  #a4ce50 0%,#87b133 100%);
    background: -ms-linear-gradient(top,  #a4ce50 0%,#87b133 100%);
    background: linear-gradient(top,  #a4ce50 0%,#87b133 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4ce50', endColorstr='#87b133',GradientType=0 );
    color: white;
    font-weight: bold;
    text-shadow: 0 -1px 0 #688b23;
    box-shadow: inset 0px 1px 1px #cce49c;
}

#NTIContent a.NTIGreyButton {
    border: 1px #a8a8a8 solid;
    border-radius: 4px;
    background: #e4e4e4;
    background: -moz-linear-gradient(top,  #e4e4e4 0%, #c8c8c8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(100%,#c8c8c8));
    background: -webkit-linear-gradient(top,  #e4e4e4 0%,#c8c8c8 100%);
    background: -o-linear-gradient(top,  #e4e4e4 0%,#c8c8c8 100%);
    background: -ms-linear-gradient(top,  #e4e4e4 0%,#c8c8c8 100%);
    background: linear-gradient(top,  #e4e4e4 0%,#c8c8c8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#c8c8c8',GradientType=0 );
    color: #707070;
    font-weight: bold;
    text-shadow: 0 -1px 0 #ffffff;
    box-shadow: inset 0px 1px 1px #ffffff;
}

#NTIContent a.NTISubmitAnswer {
    position: relative;
    padding: 10px 20px;
    font-size: 12pt;
}

#NTIContent a.NTITryAgain {
    position: relative;
    padding: 10px 20px;
    font-size: 12pt;
}

#NTIContent .rightwrongbox {
float: left;
margin-top: 6px;
position: relative;
width: 19px;
height: 18px;
left: -34px;
}

#NTIContent .rightbox {
background: url('../images/quiz/right_green.png');
}

#NTIContent .wrongbox {
background: url('../images/quiz/wrong_red.png');
}

/**
* End demo quiz styles
**/

/**
* Begin styles from MathCounts quizzes
**/

#NTIContent .helplink:before {
	display: inline;
	content: url(lightbulb.png);
	height: 32px;
	width: 32px;
}
#NTIContent a.helplink  {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	color: #7889A3;
}
/* Make the helplinks inside results prettier
 * and more contrasty. */
#NTIContent div.result a.helplink {
	color: white;
}

/* Donat show in correct answers. */
#NTIContent div.result.correct a.helplink {
	display: none;
}

#NTIContent div.result {
    padding-left: 0px;
}

#NTIContent .answerblank {
}

#NTIContent span.result.correct {
    border-radius: 3px;
    border: 1px #a4ce50 solid;
    background: #a4ce50;
    color: white;
    padding: 6px 10px;
    margin-right: 35px;
}

#NTIContent span.result.incorrect {
    border-radius: 3px;
    border: 1px #f35252 solid;
    background: #f35252;
    color: white;
    padding: 6px 10px;
    margin-right: 35px;
}

#NTIContent span.result.noanswer {
    border-radius: 3px;
    border: 1px #b2b2b2 solid;
    background: #b2b2b2;
    color: white;
    padding: 6px 10px;
    margin-right: 35px;
}

#NTIContent .answer-text {
    font-style: italic;
    font-size: 14px;
    font-weight: 600;
}

#NTIContent input {
	display: inline-block;
}

/*
#NTIContent li {
	clear: both;
	margin: 1em auto;
}

#NTIContent .worksheet-title{
	display: block;
	font-size: 150%;
	text-align: center;
	font-weight: bold;
}
*/

#NTIContent .hidden {
	display: none;
}

/*
#NTIContent #previousattempts,
#NTIContent .worksheet-title {
	position: relative;
}

#NTIContent #previousattemptlist {
	opacity: 0;
	height: 0px;
	padding: 0;
	position: absolute;
	border: #000000 solid 1px;
	border-top: none;
	background: white;
	top: 0.1em;
	left: 0;
	z-index: 10000;
	overflow: hidden;
	border-radius: 0 0 10px 10px;

	-webkit-transition: opacity .25s linear 0s, height .25s ease-out .1s;
	-moz-transition: opacity .25s linear 0s, height .25s ease-out .1s;
	transition: opacity .25s linear 0s, height .25s ease-out .1s;

}

#NTIContent #previousattemptlist.previousattemptsshow
{
	display: block;
	height: auto;
	opacity: 1;

	-webkit-transition: opacity .25s linear 0s, height .25s linear 0s;
	-moz-transition: opacity .25s linear 0s, height .25s linear 0s;
	transition: opacity .25s linear 0s, height .25s linear 0s;
}


#NTIContent #previousattemptlist li {
	display: block;
	background: none;
	white-space: nowrap;
	padding: 0;
	margin: 5px;
	height: auto;
	width: auto;
	line-height: normal;
	border-radius: 10px;
}
*/
/*
#NTIContent #previousattemptlist li a:hover {
	background: #00b0d8;
}
*/
/*
#NTIContent #previousattemptlist li a {
	display: block;
	padding: 10px 20px;
	margin: 0;
	border-radius: 10px;
	min-width: 200px;

	-webkit-transition: background-color .5s ease;
	-moz-transition: background-color .5s ease;
	transition: background-color .5s ease;
}
*/

#NTIContent div.incorrect {
	background-color: rgb(255, 227, 196);
}
/* Override things from prealgebra.css */
/*
#NTIContent .worksheet-problems li{clear: both;}

#NTIContent .worksheet-problems .problem {
    overflow: visible;
    display: block;
    border: none;
    text-align: left;
    padding: 0;
    position: static;
    margin: 0;
    background: none;
    white-space: normal;
}

#NTIContent .worksheet-problems .result {
    clear: both;
}
#NTIContent .worksheet-problems .problem::after {
    display: none;
}

#NTIContent ol.worksheet-problems {
    position: relative;
    margin-left: 0px;
    padding-left: 30px;
    font-weight: bold;
}
*/

#NTIContent div.problem span {
    font-weight: normal;
}

#NTIContent div.figure {
    margin-top: 10px;
    text-align: left !important;
}

#NTIContent div.align-center {
    text-align: left !important;
}

#NTIContent div.answerblock {
    margin-top: 20px;
    margin-bottom: 20px;
}

#NTIContent .individual-grade {
    position: relative;
    left: -29px;
}

#NTIContent .x-btn-answerblock {
    position: relative;
}

#NTIContent .x-btn-answerblock-right {
    background: #ffffff;
    color: #a4ce50;
    font-weight: normal;
    font-style: italic;
}

#NTIContent .x-btn-answerblock-wrong {
    background: #ffffff;
    color: #f35252;
    font-weight: normal;
    font-style: italic;
}

#NTIContent .x-btn-inner {
    font-family: 'Open Sans';
}

#NTIContent .x-btn-inner-right {
    color: #a4ce50;
}

#NTIContent .x-btn-inner-wrong {
    color: #f35252;
}

#NTIContent .x-btn-submit {
    position: relative;
    left: -10px;
    color: white;
    font-weight: 600;
    text-shadow: 0 -1px 0 #688B23;
}

#NTIContent .quiz-input{
    position: relative;
    border-radius: 3px;
    border: 1px #A8A8A8 solid;
    color: #A8A8A8;
    padding: 8px;
}

#NTIContent .quiz-input-right{
    position: relative;
    border-radius: 3px;
    border: 2px #a4ce50 solid;
    color: #a4ce50;
    padding: 7px;
}

#NTIContent .quiz-input-wrong{
    position: relative;
    border-radius: 3px;
    border: 2px #f35252 solid;
    color: #f35252;
    padding: 7px;
}

#NTIContent span.result img {
    position: relative;
    top: 4px;
}

#NTIContent .rightwrongbox {
    float: left;
    margin-top: 4px;
    margin-right: 10px;
    position: relative;
    width: 19px;
    height: 18px;
}

#NTIContent .rightwrongbox-inverse {
   margin-right: 4px;
   position: relative;
   padding-right: 19px;
   height: 18px;
   display: inline-block;
   top: 4px;
}

#NTIContent .rightbox {
    background: url('../images/quiz/right_green.png');
}

#NTIContent .wrongbox {
    background: url('../images/quiz/wrong_red.png');
}

#NTIContent .rightbox-inverted {
    background: url('../images/quiz/right_white.png');
}

#NTIContent .wrongbox-inverted {
    background: url('../images/quiz/wrong_white.png');
}

#NTIContent span.bubble {
    display: none;
    box-shadow: 2px 2px 4px -2px #dcdcdc;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    padding: 13px 18px 26px 18px;
    position: absolute;
    
    bottom: 25px;
    left: 10px;
    max-width: 400px;
    max-height: 200px;
    min-width: 200px;
    
    font-size: 12px;
    font-weight: 400;
    line-height: 1.8em;
    
    color: #7889A3;
    background: white;
}

#NTIContent span.bubble::after{
    content: url(../images/quiz/why_box_nib.png);
    position: absolute;
    bottom: -14px;
    left: 10px;
    z-index: 1;
}

#NTIContent span.bubble span.bubble-title {
    display: block;
    color: #f35252;
    font-weight: bold;
}

#NTIContent span.bubble-text {
    display: block;
}

#NTIContent .page-contents a.why {
    text-decoration: none;
    font-weight: 600 !important;
    font-size: 13px !important; 
    color: #f35252;
    position: relative;
    overflow: visible;
    line-height: normal !important;
    margin-left: 10px;
    left: -29px;
}

#NTIContent a.bubble span.bubble {
    display: inline-block;
}

#NTIContent .grey-hoz-bar {
    height: 2px;
    background: a8a8a8;
    margin-top: 20px;
    margin-bottom: 40px;
}
