/**
 * $Revision$
 **/
/**
 * Important: Using the * descendent selector will
 * cause problems with dynamically changing font settings.
 * Only apply the setting to the root.
 */

#NTIContent {
	position: relative;/*make absolutely positioned elements anchor to this node*/
}

#NTIContent .minipage {
	display: inline-block;
	margin-top: .5em;
	margin-right: .25em;
	margin-bottom: .5em;
	margin-left: .25em;
}


/*
 All font sizes must be specified in percents(or em units) for the size changing code to work.
*/
#NTIContent pre {
    color: #004000;
    width: 100%;
    font-size: 90%;
    background-color: #f0f0f0;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px #aaffaa solid;
    font-family: Monaco, "Courier New", Courier, fixed;
    padding-left: 4ex;
}

