/**
 * $Revision$
 **/
#NTIContent .helplink:before {
	display: inline;
	content: url(lightbulb.png);
	height: 32px;
	width: 32px;
}
#NTIContent a.helplink  {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	color: #7889A3;
}
/* Make the helplinks inside results prettier
 * and more contrasty. */
#NTIContent div.result a.helplink {
	color: white;
}

/* Donat show in correct answers. */
#NTIContent div.result.correct a.helplink {
	display: none;
}

#NTIContent .answerblank {
}

#NTIContent .answerblank-right {
    border-radius: 3px;
    border: 1px #a4ce50 solid;
    background: #a4ce50;
    color: white;
    padding: 6px 10px;
    margin-right: 35px;
}

#NTIContent .answerblank-wrong {
    border-radius: 3px;
    border: 1px #f35252 solid;
    background: #f35252;
    color: white;
    padding: 6px 10px;
    margin-right: 35px;
}

#NTIContent .answer-text {
    font-style: italic;
    font-size: 14px;
    font-weight: 600;
}

#NTIContent input {
	display: inline-block;
}

#NTIContent li {
	clear: both;
	margin: 1em auto;
}

#NTIContent .worksheet-title{
	display: block;
	font-size: 150%;
	text-align: center;
	font-weight: bold;
}

#NTIContent .hidden {
	display: none;
}

#NTIContent #previousattempts,
#NTIContent .worksheet-title {
	position: relative;
}

#NTIContent #previousattemptlist {
	opacity: 0;
	height: 0px;
	padding: 0;
	position: absolute;
	border: #000000 solid 1px;
	border-top: none;
	background: white;
	top: 0.1em;
	left: 0;
	z-index: 10000;
	overflow: hidden;
	border-radius: 0 0 10px 10px;

	-webkit-transition: opacity .25s linear 0s, height .25s ease-out .1s;
	-moz-transition: opacity .25s linear 0s, height .25s ease-out .1s;
	transition: opacity .25s linear 0s, height .25s ease-out .1s;

}

#NTIContent #previousattemptlist.previousattemptsshow
{
	display: block;
	height: auto;
	opacity: 1;

	-webkit-transition: opacity .25s linear 0s, height .25s linear 0s;
	-moz-transition: opacity .25s linear 0s, height .25s linear 0s;
	transition: opacity .25s linear 0s, height .25s linear 0s;
}


#NTIContent #previousattemptlist li {
	display: block;
	background: none;
	white-space: nowrap;
	padding: 0;
	margin: 5px;
	height: auto;
	width: auto;
	line-height: normal;
	border-radius: 10px;
}
/*
#NTIContent #previousattemptlist li a:hover {
	background: #00b0d8;
}
*/
#NTIContent #previousattemptlist li a {
	display: block;
	padding: 10px 20px;
	margin: 0;
	border-radius: 10px;
	min-width: 200px;

	-webkit-transition: background-color .5s ease;
	-moz-transition: background-color .5s ease;
	transition: background-color .5s ease;
}

/*
#NTIContent .page-contents a {
	clear: both;
	margin: 0.7em;
	display: box;
	text-align: center;
	padding: 0.3em;
	background: rgb(90, 90, 90);
	border-radius: 5px;
	border: 2px solid rgb(90, 90, 90);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666),
		to(#222) );
	color: white;
	text-decoration: inherit; height 1.6em;
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .2), 0px 0px 3px
		rgba(0, 0, 0, .1), inset 0px 6px 12px rgb(80, 80, 80), inset 0px 12px
		2px rgba(255, 255, 255, .7), inset 0px 16px 25px rgb(80, 80, 80);
}
*/
#NTIContent .page-contents a:empty{
	display: none;
}
/*
#NTIContent .page-contents a:hover {
	border-color: white;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#777),
		to(#444) );
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .2), 0px 0px 3px
		rgba(0, 0, 0, .1), inset 0px 6px 12px rgb(100, 100, 100), inset 0px
		12px 2px rgba(230, 230, 230, .7), inset 0px 15px 25px
		rgb(100, 100, 100);
}
*/
#NTIContent div.incorrect {
	background-color: rgb(255, 227, 196);
}
/* Override things from prealgebra.css */
#NTIContent .worksheet-problems li{clear: both;}

#NTIContent .worksheet-problems .problem {
    overflow: visible;
    display: block;
    border: none;
    text-align: left;
    padding: 0;
    position: static;
    margin: 0;
    background: none;
    white-space: normal;
}

#NTIContent .worksheet-problems .result {
    clear: both;
}
#NTIContent .worksheet-problems .problem::after {
    display: none;
}

#NTIContent ol.worksheet-problems {
    position: relative;
    left: -80;
    padding-left: 80px;
    margin-left: 0px;
    font-weight: bold;
}

#NTIContent div.problem span {
    font-weight: normal;
}

#NTIContent div.figure {
    margin-top: 10px;
    text-align: left !important;
}

#NTIContent div.align-center {
    text-align: left !important;
}

#NTIContent div.answerblock {
    margin-top: 20px;
    margin-bottom: 20px;
}

#NTIContent .x-btn-answerblock {
    position: relative;
    left: -29px;
}

#NTIContent .x-btn-answerblock-right {
    background: #ffffff;
    color: #a4ce50;
    font-weight: normal;
    font-style: italic;
}

#NTIContent .x-btn-answerblock-wrong {
    background: #ffffff;
    color: #f35252;
    font-weight: normal;
    font-style: italic;
}

#NTIContent .x-btn-inner {
    font-family: 'Open Sans';
}

#NTIContent .x-btn-inner-right {
    color: #a4ce50;
}

#NTIContent .x-btn-inner-wrong {
    color: #f35252;
}

#NTIContent .x-btn-submit {
    position: relative;
    left: -10px;
    color: white;
    font-weight: 600;
    text-shadow: 0 -1px 0 #688B23;
}

#NTIContent .quiz-input{
    position: relative;
    border-radius: 3px;
    border: 1px #A8A8A8 solid;
    color: #A8A8A8;
    padding: 8px;
    left: -29px;
}

#NTIContent .quiz-input-right{
    position: relative;
    border-radius: 3px;
    border: 2px #a4ce50 solid;
    color: #a4ce50;
    padding: 7px;
    left: -29px;
}

#NTIContent .quiz-input-wrong{
    position: relative;
    border-radius: 3px;
    border: 2px #f35252 solid;
    color: #f35252;
    padding: 7px;
    left: -29px;
}

#NTIContent .rightwrongbox {
    float: left;
    margin-top: 8px;
    margin-right: 10px;
    position: relative;
    width: 19px;
    height: 18px;
    left: -29px;
}

#NTIContent .rightwrongbox-inverse {
    margin-right: 4px;
    position: relative;
    width: 19px;
    height: 18px;
    display: inline-block;
    top: 3px;
}

#NTIContent .rightbox {
    background: url('../images/quiz/right_green.png');
}

#NTIContent .wrongbox {
    background: url('../images/quiz/wrong_red.png');
}

#NTIContent .rightbox-inverted {
    background: url('../images/quiz/right_white.png');
}

#NTIContent .wrongbox-inverted {
    background: url('../images/quiz/wrong_white.png');
}

#NTIContent span.bubble {
    display: none;
    box-shadow: 2px 2px 4px -2px #dcdcdc;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    padding: 13px 18px 26px 18px;
    position: absolute;
    
    bottom: 25px;
    left: 10px;
    max-width: 400px;
    max-height: 200px;
    min-width: 200px;
    
    font-size: 12px;
    font-weight: 400;
    line-height: 1.8em;
    
    color: #7889A3;
    background: white;
}

#NTIContent span.bubble::after{
    content: url(../images/quiz/why_box_nib.png);
    position: absolute;
    bottom: -14px;
    left: 10px;
    z-index: 1;
}

#NTIContent span.bubble span.bubble-title {
    display: block;
    color: #f35252;
    font-weight: bold;
}

#NTIContent span.bubble-text {
    display: block;
}

#NTIContent .page-contents a.why {
    text-decoration: none;
    font-weight: 600 !important;
    font-size: 13px !important; 
    color: #f35252;
    position: relative;
    overflow: visible;
    line-height: normal !important;
    margin-left: 10px;
    left: -29px;
}

#NTIContent a.bubble span.bubble {
    display: inline-block;
}

#NTIContent .grey-hoz-bar {
    height: 2px;
    background: a8a8a8;
    margin-top: 20px;
    margin-bottom: 40px;
}
