#NTIContent .subsection.title {
	    font-size: 175%;
}

#NTIContent .itemize,
	    .enumerate {
	    line-height: 1.5em;
}

#NTIContent .itemize > li > p.par,
	    .enumerate > li > p.par {
	    margin-top: 0.5em;
	    margin-bottom: 0.5em;
}

#NTIContent .algorithm-function {
	    background-color: #F0F0F0;
	    padding-top: 0.5em;
	    padding-bottom: 0.5em;
	    padding-left: 4ex;
	    font-family: times;
	    line-height: normal;
}

#NTIContent .algorithm-indent-block {
	    padding-left: 2em;
}